/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu li {
		padding: 0 15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu li {
		padding: 0 5px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	nav {
		height: 60px;
		line-height: 60px;
		background-color: #2a2e48;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}
	
	.top-line {
		display: none;
	}
	
	.logo {
		padding-top: 15px;
	}
	
	.menu-btn {
		height: 40px;
		width: 40px;
		background-color: #d54141;
		border-radius: 50%;
		color: white;
	}
	
	.menu-btn span {
		top: -15px;
	}
	.top-menu {
		background-color: #2a2e48;
	}
	.menu li {
		display: block;
		text-align: center;
	}
	.menu li a {
		display: block;
	}
	
	.menu li a:hover {
		background-color: #fff;
		color: #000;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}